<style>
    body {
        direction: rtl;
        font-size:20pt;
        font-family: arial;
    }
    .box{
        margin-right: 30px;
        text-align: center;
    }
    .dTitle{
        color:red;
        font-weight: bold;
        cursor: pointer;
    }
    table tr TD.no-pad{

        padding: 0;
    }
.input-word{
    border: none;
    padding: 0;
    margin: 0;
    font-size: 23px;
    text-align: center;
    width:100%;
    height:100%;
    background-color: initial;
}
    .rotate--90{
        transform: rotate(-90deg);
        font-size: small;
    }
    .mhide{
        font-size: 0;
        width:1px;
    }
</style>
<div class="box">
    <p>מילון אתב"ש גימטריא
        <span style="font-size: small;">
            (צבעוני
            <input type="checkbox" ng-model="useColor"/>)
        </span>
    </p>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 table-responsive" style="width:115%">
                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                    <thead>
                    <tr >
                        <th class="text-center"> מילה </th>
                        <th class="text-center"> גימטריא </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[0]}" ng-click="toggle[0] = !toggle[0];"> גימטריא קטנה </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[1]}" ng-click="toggle[1] = !toggle[1];"> גימטריא גדולה </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[2]}" ng-click="toggle[2] = !toggle[2];"> גימטריא גדולה בלי כולל</th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[3]}" ng-click="toggle[3] = !toggle[3];"> גימטריה משולשת </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[4]}" ng-click="toggle[4] = !toggle[4];"> גימטריה משולש חסר </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[5]}" ng-click="toggle[5] = !toggle[5];"> אתב"ש: </th>
                        <th class="text-center" ng-class="{'rotate--90':toggle[6]}" ng-click="toggle[6] = !toggle[6];"> גימטריא אתב"ש: </th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no-pad"> <input ng-model="input" ng-keypress="keyPressed($event)" placeholder='הקלד מילה' class="input-word"/> </td>
                        <td style="{{getColor(filtered)}}"> {{ filtered= (input | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[0]}"> {{ input | smallGimatry}} </td>
                        <td ng-class="{'mhide':toggle[1]}"> {{ input | bigGimatry | gimatry}} </td>
                        <td ng-class="{'mhide':toggle[2]}"> {{ (input | bigGimatry | gimatry) - (input | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[3]}"> {{ input | triangleGim }} </td>
                        <td ng-class="{'mhide':toggle[4]}"> {{ (input | triangleGim) - (input | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[5]}"> {{ input | atBash}} </td>
                        <td ng-class="{'mhide':toggle[6]}" style="{{getColor(filterAt)}}"> {{ filterAt = (input | atBash | gimatry) }} </td>

                        <td> <button name="del0" ng-click="addItem()" class='btn btn-info glyphicon glyphicon-plus '></button> </td>
                    </tr>
                    <tr ng-repeat="word in atBashData">
                        <td class="no-pad">
                            <input type="text" ng-model="word" class="input-word" ng-blur="saveWord(word,$index)"/>
                        </td>
                        <td style="{{getColor(filteredW)}}"> {{ filteredW =(word | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[0]}"> {{ word | smallGimatry}} </td>
                        <td ng-class="{'mhide':toggle[1]}"> {{ word| bigGimatry | gimatry}} </td>
                        <td ng-class="{'mhide':toggle[2]}"> {{ (word | bigGimatry | gimatry) - (word | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[3]}"> {{ word | triangleGim }} </td>
                        <td ng-class="{'mhide':toggle[4]}"> {{ (word | triangleGim) - (word | gimatry)}} </td>
                        <td ng-class="{'mhide':toggle[5]}"> {{ word | atBash}} </td>
                        <td ng-class="{'mhide':toggle[6]}" style="{{getColor(filterAt2)}}"> {{ filterAt2=(word | atBash | gimatry)}} </td>

                        <td> <button name="del0" ng-click="remove(word)" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button> </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>